= form_for @member do |f|
  - if @shift_request.errors.any?
    #error_explanation
      %h2= "#{pluralize(@shift_request.errors.count, "error")} prohibited this shift_request from being saved:"
      %ul
        - @shift_request.errors.full_messages.each do |msg|
          %li= msg

  %p= "#{@request_month.month}月のシフト"
  %p= @member.name

  %table
    %thead
      %tr
        %th 日付
        %th 曜日
        %th 早番
        %th 遅番
        %th 泊り
        %th コメント
    %tbody
      = f.fields_for :shift_requests do |shift_request_form|
        %tr
          - shift_request_form.text_field :member_id, value: @member.id
          - request_day = @request_days.to_a[shift_request_form.index]
          %td= shift_request_form.date_field :date, value: request_day, readonly: true
          %td= request_day.strftime("#{%w(日 月 火 水 木 金 土)[request_day.wday]}")
          %td= shift_request_form.radio_button :slot, 0
          %td= shift_request_form.radio_button :slot, 1
          %td= shift_request_form.radio_button :slot, 2
          %td= shift_request_form.text_field :comment, size: 30

  .actions
    = f.submit 'Save'
