= form_for @member do |f|
  - if @shift_request.errors.any?
    #error_explanation
      %h2= "#{pluralize(@shift_request.errors.count, "error")} prohibited this shift_request from being saved:"
      %ul
        - @shift_request.errors.full_messages.each do |msg|
          %li= msg

  %p= "#{@request_month.month}月のシフト"
  %p= @member.name

  %table
    %thead
      %tr
        %th 平日
        %th 土日祝
    %tbody
      %tr
        %td 早番（10:00〜19:00）
        %td 早番（10:00〜16:00）
    %tbody
      %tr
        %td 遅番（13:00〜22:00）
        %td 遅番（16:00〜22:00）
    %tbody
      %tr
        %td 泊り（22:00〜10:00）
        %td 泊り（22:00〜10:00）

  %table
    %thead
      %tr
        %th 日付
        %th 曜日
        %th 早番
        %th 遅番
        %th 泊り
        %th 開始時間
        %th 終了時間
        %th コメント
        %th
    %tbody
      = f.fields_for :shift_requests do |shift_request_form|
        %tr
          - shift_request_form.text_field :member_id, value: @member.id
          - request_day = @request_days.to_a[shift_request_form.index]
          %td= shift_request_form.date_field :date, value: request_day, readonly: true, class: ("holiday" if weekend?(request_day))
          %td= request_day.strftime("#{%w(日 月 火 水 木 金 土)[request_day.wday]}")
          %td= shift_request_form.radio_button :slot, 0, class: "slot-0", "data-index" => shift_request_form.index
          %td= shift_request_form.radio_button :slot, 1, class: "slot-1", "data-index" => shift_request_form.index
          %td= shift_request_form.radio_button :slot, 2, class: "slot-2", "data-index" => shift_request_form.index
          %td= shift_request_form.select :start_time, @time_select, include_blank: true
          %td= shift_request_form.select :end_time, @time_select, include_blank: true
          %td= shift_request_form.text_field :comment, size: 30
          %td= link_to 'Cancel', "#", class: "cancel-button", "data-index" => shift_request_form.index

  .actions
    = f.submit 'Save'
