%h1 #{@shift_request.date}のシフトの編集

= form_for @shift_request, url: { action: :update } do |f|
  .table-responsive
    %table
      %thead
        %tr
          %th 早番
          %th 遅番
          %th 泊り
          %th 開始時間
          %th 終了時間
          %th コメント

      %tbody
        %tr
          %td= f.radio_button :slot, 0, class: "slot-0", "data-index" => f.index, checked: (true if f.object.slot == '早番')
          %td= f.radio_button :slot, 1, class: "slot-1", "data-index" => f.index, checked: (true if f.object.slot == '遅番')
          %td= f.radio_button :slot, 2, class: "slot-2", "data-index" => f.index, checked: (true if f.object.slot == '泊り')
          %td= f.text_field :start_time
          %td= f.text_field :end_time
          %td= f.text_field :comment
    .actions
      = f.submit 'Save'
