- if admin?
  %h1 全員のシフト一覧（管理者のみ）
  %p= link_to "CSV download", shift_requests_path(format: "csv")
  %p= link_to "Excel file download", shift_requests_path(format: "xls")

  %table
    %thead
      %tr
        %th 名前
        %th 日時
        %th シフト
        %th 開始時間
        %th 終了時間
        %th コメント

    %tbody
      - @shift_requests.each do |shift_request|
        %tr
          %td= shift_request.member.name
          %td= shift_request.date
          %td= shift_request.slot
          %td= shift_request.start_time.strftime('%H:%M')
          %td= shift_request.end_time.strftime('%H:%M')
          %td= shift_request.comment

- else
  %p 管理者が閲覧できるページです。あなたは管理者ではないので閲覧できません！
  %p= link_to 'トップページ', root_path
