%h1 全員のシフト一覧(きっと管理者だけが見る)
%p= link_to "CSV download", shift_requests_path(format: "csv")

%table
  %thead
    %tr
      %th
      %th
      %th
      %th

  %tbody
    - @shift_requests.each do |shift_request|
      %tr
        %td= shift_request.member.name
        %td= shift_request.date
        %td= shift_request.slot
        %td= shift_request.comment
