%p= @msg
- unless session[:login]
  = form_tag('/') do
    = text_field_tag :name
    = submit_tag 'ログイン'
- else
  =link_to 'シフト申請', member_path(@member.id)
  = form_tag('/logout') do
    = submit_tag 'ログアウト'

- if admin?
  %h1 メンバー一覧（管理者のみ）

  .table-responsive
    %table
      %thead
        %tr
          %th ID
          %th 名前
      %tbody
        - @members.each do |member|
          %tr
            %td= member.id
            %td= member.name
  = link_to '申請一覧（ダウンロード）', shift_requests_path, class: "btn"
