%h1 メンバー一覧（管理者だけでいいのかも）

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @members.each do |member|
      %tr
        %td= member.name
        %td= link_to '申請の一覧', member
        %td= link_to '名前の編集', edit_member_path(member)
        %td= link_to '削除', member, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'メンバーの追加', new_member_path
