%p= @member.name

%p= link_to "シフトを申請する(来月)", new_shift_request_path(member_id: @member.id) if applied_next_month?(@member)
%p= link_to "申請したシフトの編集", '#' unless applied_next_month?(@member)

%p 申請されたシフトの一覧
%table
  %thead
    %tr
      %th 日付
      %th シフト
      %th コメント
  %tbody
    - @shift_requests.each do |shift_request|
      %tr
        %td= shift_request.date
        %td= shift_request.slot
        %td= shift_request.comment
